@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');


/* keyframes  animation*/
@keyframes sliderLeft {
    0% {
        transform: translateX(-100px);
        opacity: 1;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

@keyframes sliderRight {
    0%{
        transform: translateX(-100px);
        opacity: 1;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes sliderTop {
    
    0% {
        transform: translateY(100px);
        opacity: 1;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes zoonIn {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Crimson', serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html{
    font-size: 62.5%;
    overflow: visible ;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Ajustar posição das abas de home, about, portfolio... */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

/* pernonalizar logo */
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    cursor: pointer;
    animation: sliderRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
    /* opacity: 1; */
    animation: sliderTop .4s ease forwards;
    animation-delay: calc(.7s * var(--i));
}
.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

.navbar .cor {
    color: #0ef;
}
.menu-icon{
    display: none;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: sliderTop 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3 span{
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: sliderRight 1s ease forwards;;
    animation-delay: .1s;
}

.home-content p{
    font-size: 20px;
    animation: sliderLeft 1s ease forwards;;
    animation-delay: .1s;
}

/* Layolt da Imagem */
.home-img img{
    /* max-width: 450px; */
    width: 35vw;
    margin-right: -30px;
    animation: zoonIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

/* personalizar os iconis de redes sociais */
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items:  center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    animation: sliderLeft 1s ease forwards;;
    animation-delay: calc(.3s * var(--i));
}
 /* clarear ao passar o cursor em cima */
.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

/* pernonalizar botão de download do cv */
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 25px;
    box-shadow: 0 0 15px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: 600;
    animation: sliderTop 1s ease forwards;;
    animation-delay: .2s;
}

.Sobre{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;
}
.Sobre-img img{
    width: 35vw;
}
.heading {
    text-align: center;
    font-size: 50px;
    padding: 50px;
    
}
.Sobre-content h2{
    text-align: left;
    line-height: 1.2;
}
.Sobre-content h2 span{
    color: #0ef;
}
.Sobre-content p{
    font-size: 20px;
}




.Competencias{
    width:100%;
    display: center;
    align-items: center;  
}

.competencia h2{
    margin-bottom: 80px;
}
.Competencias h2 span{
    color: #0ef;}

.Competencias-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    
}
.card {
    position: relative;
    background-color: transparent;
    width: 300px;
    height: 300px;
    background: transparent;
    border-radius: 32px;
    border: transparent;
    box-shadow: 0 20px 40px -10px rgba(var(--bg-color)); /* Adjusted box shadow */
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow; /* Added box-shadow transition */
}

.card:hover {
    transform: translate3d(0px, 0px, -250px);
}
.Competencias-container .Competencias-box{
    width: 500px;
    height: 300px;
    background: var(--second-bg-color);
    padding: 48px 32px 64px;
    border-radius: 32px;
    text-align: center;
    border: transparent;
    transition: .5s ease;
    color: #0ef;
}
.Competencias-box{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.Competencias-container .card:hover .Competencias-box {
    transform: rotateY(180deg);
}
.Competencias-container .card:hover .card-back i {
    transform: perspective(3000px) rotateY(5deg);
}
.Competencias-container .card:hover .card-back {
    filter: none; /* Remover o efeito de ofuscação */
}
.Competencias-container .Competencias-box h3{
    color: var(--bg-color);
}
.Competencias-container .Competencias-box:hover{
    border-color: transparent;
    transform: scale(1.02);
}
.Competencias-box h3{
    font-size: 40px;
}
.card-front, 
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 32px;
    border: transparent;
}
.card-front {
    background: linear-gradient(to right, #1abc9c, #3498db);
}
.card-front i{
    width: 200px;
    margin-top: 18px;
    color: #1f242d;
}
.card-back {
    background: linear-gradient(to right, #1abc9c, #3498db);
    color: #ffffff;
    box-shadow: 0 5px 20px #3498db;
    transform: rotateY(180deg);
}
.card-back i{
    width: 140px;
    margin-top: 1rem;
    transform: perspective(3000px) rotateY(5deg);
}
.card-back h1 {
    font-size: 2rem;
    display: flex;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}



.portfolio{
    width:100%;
    display: center;
    align-items: center;  
}

.portfolio h2 span{
    color: var(--main-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}
.portfolio-container .portfolio-box {
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: grid;
}

.portfolio-box img {
    width:  100%;
    transition: .5s ease;

}
.portfolio-box {
    transition: transform 0.3s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

/* .portfolio-layer a */
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    cursor: pointer;
}
.button i{
    justify-content: center;
    align-items: center;
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0,), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    position: absolute;
    top: 250px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: transparent;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* Estilos para a janela modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.882);
    z-index: 1;
    overflow: auto;
}

.modal-content{
    height: 70%;
    max-width: 105rem;
    margin: 0 auto;
    background-color: none;
    width: 105rem;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    flex-direction: column;
}
.modal-content img{
    border-radius: 5rem;
    width:  100%;
}
.modal-content h4{
    font-size: 3rem;
    position: absolute; 
    right: auto;
    height: 60rem;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px; 
    transition: transform 0.5s ease; 
}
.modal-content p{
    font-size: 2.5rem;
    position: absolute; 
    right: .1rem;
    height: 40rem;
    width: auto;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 12px; 
    border-radius: 10%;
    transition: transform 0.5s ease; 
    display: flex;
    justify-content: center;

}

.modal-content a{
    position: absolute;
    top: 67rem;
    right: 52rem;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: transparent;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .modal-content{
    position: absolute;
    display: absolute;
    justify-content: center;
}

.close-button {
    display: inline-block;
    position: absolute;
    width: .2rem;
    height: 0rem;
    top: 0rem;
    right: 3rem;
    font-size: 6rem;
    cursor: pointer;
    transition: color 0.5s ease;
}




.contato h2 {
    margin-bottom: 48px
}
.contato form{
    max-width: 70rem;
    margin:  1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contato{
    background: var(--bg-color);
    width:100%;
    display: center;
    align-items: center;  
}
.contato h2 span{
    color: var(--main-color);
}

.contato form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contato form .input-box input, .contato form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contato form .input-box input{
    width: 49%;
}
.contato form textarea{
    resize: none;
}
.contato form .btn{
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
   font-size: 1.6rem; 
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;

}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* Renderização */
@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;}
}

@media(max-width: 993px ) {
    /* Layout Competencias */
    .Competencias-container .Competencias-box{
        display: grid;
        width: 300px;
        height: 200px;
        background: var(--second-bg-color);
        padding: 48px 32px 64px;
        border-radius: 32px;
        text-align: center;
        border: 3px solid var(--bg-color);
        transition: .5s ease;
        color: #0ef;
    }
    .Competencias-box i{
        font-size: 90px;
        align-items: center;
        cursor: pointer;
    }
    .Competencias-box h3{
        font-size: 20px;
    }

    /* Layout Portifolio */
    .portfolio-container .portfolio-box {
        width: 300px;
        height: 200px;
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem var(--bg-color);
        overflow: hidden;
        display: grid;
    }
    .portfolio-layer a{
        position: absolute;
        top: 150px;
        right: 20px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border: transparent;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .modal-content{
        max-height: 100%;
        max-width: 90%;
        margin: 0 auto;
        background-color: none;
        border-radius: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.601), var(--second-bg-color);
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        text-align: center;
        flex-direction: column;
    }
    .modal-content a{
        position: absolute;
        top: 83%;
        right: 48%;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: transparent;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content a i{
        font-size: 14px;
    }

    .modal-content p{
        font-size: 3rem;
        height: 40rem;
        width: 100%;
        top: 65%; 
    }

    .modal-content h4{
        font-size: 35px;
        top: 60%;
    }
}

@media (max-width: 769px ){
    .menu-icon{
        display: block;
        font-size: 2rem;
        color: var(--text-color);
        background-color: #1f242d;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .0rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2rem;
        width: 100%;
    }
    .home-content h1{
        font-size: 3rem;
    }
    .btn {
        top: 200rem;
    }
    .home-img{
        height: 20%;
        width: 40%;
        margin-top: 4rem;
        align-items: center;
    }
    .Sobre{
        height: 100%;
        flex-direction: column-reverse;
    }
    .Sobre-content h2{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .Sobre-img{
        height: 20%;
        width: 40%;
        margin-top: 4rem;
        align-items: center;
    }
    .modal-content{
        max-height: 100%;
        max-width: 90%;
        margin: 0 auto;
        background-color: none;
        border-radius: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.601), var(--second-bg-color);
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        text-align: center;
        flex-direction: column;
    }
    .modal-content a{
        position: absolute;
        top: 63%;
        right: 48%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content a i{
        font-size: 14px;
    }

    .modal-content p{
        font-size: 2.5rem;
        height: 40rem;
        width: 100%;
        top: 60%; 
    }

    .modal-content h4{
        font-size: 35px;
        top: 60%;
    }
}
@media (max-width: 690px ){
    .close-button {
        display: flex;
        position: absolute;
        height: 0rem;
        top: 0rem;
        font-size: 5rem;
        cursor: pointer;
        transition: color 0.5s ease;
    }
}
@media (max-width: 630px) {
    .modal-content p{
        font-size: 2rem;
        height: 40rem;
        width: 100%;
        top: 60%; 
    }

    .modal-content h4{
        font-size: 3rem;
        top: 59%;
    }
    .modal-content a{
        position: absolute;
        top: 62%;
        right: 48%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 577px) {
    .modal-content a{
        display: flex;
        top: 60%;
        left: 46%;
    }
}

@media (max-width: 567px) {
    .modal-content a{
        display: flex;
        top: 60%;
        left: 46%;
    }
}

@media (max-width: 560px) {
    .modal-content a{
        position: absolute;
        display: flex;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 530px){
    .modal-content p{
        font-size: 2rem;
        height: 40rem;
        width: 100%;
        top: 55%; 
    }
    .modal-content h4{
        font-size: 3rem;
        top: 55%;
    }
    .modal-content a{
        position: absolute;
        display: flex;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 513px){
    .home {
        height: 100%;
        flex-direction: column;
    }
    .home-content h3 span{
        display: flex;
        position: relative;
        left: 2%;
    }
    .home-content h3{
        position: relative;
        display: flex;
        font-size: 1.9rem;
        width: 100%;
        top: 20px;
    }
    .home-content h1{
        position: relative;
        display: flex;
        font-size: 3rem;
        top: 22px;
    }
    .home-content p{
        font-size: 2rem;
    }
    .home-img{
        display: flex;
        position: relative;
        top: 100%;
        width: 40%;
        margin-top: 4rem;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 490px){
    .home-content h3 span{
        display: flex;
        position: relative;
        left: 2%;
    }
    .modal-content p{
        font-size: 1.7rem;
        top: 50%;
    }
    .modal-content h4{
        font-size: 2rem;
        top: 55%;
    }
    .modal-content a{
        position: absolute;
        display: flex;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 420px){
    .modal-content p{
        font-size: 1.4rem;
        top: 43%;
    }
    .modal-content h4{
        font-size: 2rem;
        top: 54%;
        width: 100%;
    }
    .modal-content a{
        position: absolute;
        display: flex;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .home-content h3 span{
        display: flex;
        position: relative;
        left: 2%;
    }
    .heading{
        display: grid;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .close-button{
        display: flex;
        position: absolute;
        width: 10px;
        top: 1rem;
        font-size: 4rem;
        cursor: pointer;
    }
}
@media (max-width: 390px){
    .home-content h3 {
        width: 100%;
        display: flex;
        position: relative;
    }
    .home-content h3 span{
        display: flex;
        position: relative;
        left: 2%;
    }
    .home-img{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        top: 99%;
        transform: translate(-10%, -0%);
    }
    .competencia h2{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .competencia h2 span{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        left: 50%;
    }
    .heading{
        display: grid;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .close-button{
        display: flex;
        position: absolute;
        width: 10px;
        top: 1rem;
        font-size: 4rem;
        cursor: pointer;
    }
}


