@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');


/* keyframes  animation*/
@keyframes sliderLeft {
    0% {
        transform: translateX(-100px);
        opacity: 1;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

@keyframes sliderRight {
    0%{
        transform: translateX(-100px);
        opacity: 1;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes sliderTop {
    
    0% {
        transform: translateY(100px);
        opacity: 1;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Crimson', serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html{
    font-size: 62.5%;
    overflow: visible ;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Ajustar posição das abas de home, about, portfolio... */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

/* pernonalizar logo */
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    cursor: pointer;
    animation: sliderRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
    animation: sliderTop .4s ease forwards;
    animation-delay: calc(.7s * var(--i));
}
.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

.navbar .cor {
    color: #0ef;
}
.menu-icon{
    display: none;
}

.home{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: sliderTop 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3 span{
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: sliderRight 1s ease forwards;;
    animation-delay: .1s;
}

.home-content p{
    font-size: 20px;
    text-align: justify;
    animation: sliderLeft 1s ease forwards;;
    animation-delay: .1s;
}

/* Layolt da Imagem */
.home-img img{
    /* max-width: 450px; */
    width: 35vw;
    margin-right: -30px;
    animation: zoonIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

/* personalizar os iconis de redes sociais */
.social-media{
    width: 100%;
    display: flex;
}
.social-media .insta{
    background: linear-gradient(to bottom, #8a3ab9, #f7b928);
}
.social-media .link{
    background: linear-gradient(to bottom, #0077B5, #00405C);
}
.social-media .whats{
    background: linear-gradient(to bottom, #25d366, #128c7e);
}
.social-media .git{
    background: linear-gradient(to right, #333, #040404);
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items:  center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    animation: sliderLeft 1s ease forwards;;
    animation-delay: calc(.3s * var(--i));
}
 /* clarear ao passar o cursor em cima */
.social-media a:hover{
    background: #0ef;
    color: #040404;
    box-shadow: 0 0 20px #0ef;
}

/* pernonalizar botão de download do cv */
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(to right, #f0f3fa, #D5DEEF, #B1C9FE, #8AAEE0, #638ecb, #395886);
    border-radius: 25px;
    box-shadow: 0 0 15px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: 600;
    animation: sliderTop 1s ease forwards;;
    animation-delay: .2s;
}

.Sobre{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;
}
.Sobre-img img{
    width: 35vw;
}
.heading {
    text-align: center;
    font-size: 50px;
    padding: 50px;
    
}
.Sobre-content h2{
    text-align: center;
    line-height: 1.2;
}
.Sobre-content h2 span{
    color: #0ef;
}
.Sobre-content p{
    font-size: 20px;
    text-align: justify;
}


/* Competências atualizadas */

.Competencias{
    width:100%;
    height: 100%;
    display: center;
    align-items: center;  
}

.competencia h2{
    margin-bottom: 80px;
}
.Competencias h2 span{
    color: #0ef;}

.Competencias-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    filter: none;
    
}
.card {
    align-items: center;
    justify-content: center;
    display:flex;
    position: relative;
    filter: none;
    background-color: transparent;
    width: 500px;
    height: 300px;
    border-radius: 32px;
    border: transparent;
    box-shadow: 0 20px 40px -10px rgba(var(--bg-color)); /* Adjusted box shadow */
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow; /* Added box-shadow transition */
}

.card:hover {
    transform: translate3d(0px, 0px, -250px);
}
.Competencias-box{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    filter: none;
}
.Competencias-container .card:hover .Competencias-box {
    transform: rotateY(180deg);
}
.Competencias-container .card:hover .card-back i {
    transform: perspective(0px) rotateY(5deg);
}
.Competencias-container .Competencias-box h3{
    color: var(--bg-color);
}
.Competencias-container .Competencias-box:hover{
    border-color: transparent;
    transform: scale(1.02);
}
.Competencias-box h3{
    font-size: 40px;
}
.card-front, 
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 32px;
    border: transparent;
}
.card-front {
    background: linear-gradient(to right, #1abc9c, #3498db);
}
.card-front i{
    font-size: 15rem;
    width: 200px;
    margin-top: 18px;
    color: #1f242d;
}
.card-back {
    background: linear-gradient(to right, var(--second-bg-color), #22303a);    
    box-shadow: 0 5px 20px #3498db;
    transform: rotateY(180deg);
}
.card-back i{
    font-size: 15rem;
    color: #0ef;
    width: 140px;
    margin-top: 1rem;
    transform: perspective(3000px) rotateY(5deg);
}
.card-back h1 {
    color: #fff;
    font-size: 3rem;
    display: flex;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}



.portfolio{
    width:100%;
    height: 100%;
    display: center;
    align-items: center;  
}

.portfolio h2 span{
    color: var(--main-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}
.portfolio-container .portfolio-box {
    width: 600px;
    height: 400px;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width:  100%;
    transition: .5s ease;

}
.portfolio-box {
    transition: transform 0.3s ease;
}

/* .portfolio-layer a */
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    cursor: pointer;
}
.button i{
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0,), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
 .portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
    background-color: #10141792;
}
.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    position: absolute;
    top: 350px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: transparent;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* Sessão Janela Modal */
.modal {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.882);
    z-index: 1;
}

.portfolio-container .modal-box{
    top: 15%;
    left: 5%;
    width: 90%;
    height: 60%;
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 8rem;
}
.modal-box img{
    width:  100%;
}
.portfolio-container .close-button{
    top: 18%;
    left: 87%;
    display: flex;
    position: fixed;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}
.close-button i{
    width: 100%;
    height: 100%;
    font-size: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-button:hover{
    background: 0 0 15px rgb(205, 12, 12);
    color: #db1717;
    box-shadow: 0 0 30px rgb(205, 12, 12);
}
.modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal-content a{
    position: fixed;
    top: 70%;
    left: 49%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: transparent;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.modal-content a:hover{
    background: var(--text-color);
    color: #1f242d;
    box-shadow: 0 0 15px rgb(228, 240, 241);
}
.modal-content a i{
    font-size: 2rem;
}
.modal-content p{
    text-align: justify;
    display: flex;
    position: fixed;
    top: 35%;
    left: 15%;
    width: 70%;
    height: 80%;
    font-size: 2.5rem;
}
.modal-content h4{
    width: 100%;
    display: flex;
    position: fixed;
    left: 42%;
    top: 20%;
    font-size: 3rem;
}

/* sessão contato */

.contato h2 {
    margin-bottom: 48px
}
.contato form{
    max-width: 70rem;
    margin:  1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contato{
    background: var(--bg-color);
    width:100%;
    height: 100%;
    display: center;
    align-items: center;  
}
.contato h2 span{
    color: var(--main-color);
}

.contato form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contato form .input-box input, .contato form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contato form .input-box input{
    width: 49%;
}
.contato form textarea{
    resize: none;
}
.contato form .btn{
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
   font-size: 1.6rem; 
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;

}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* Renderização */
@media (max-width: 1400px ){
    .Sobre{
        flex-direction: column;
    }
}

@media (max-width: 1050px ){
    .menu-icon{
        display: block;
        font-size: 2rem;
        color: var(--text-color);
        background-color: #1f242d;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .0rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .modal-content h4{
        left: 38%;
        position: fixed;
    }
}
@media only screen and (max-width: 950px) and (min-width: 901px){
    .modal-content h4{
        left: 37%;
        position: fixed;
    }
    .modal-content p{
        font-size: 3.2rem;
    }
}
@media only screen and (max-width: 900px) and (min-width: 850px){
    .modal-content h4{
        left: 36%;
        position: fixed;
    }
    .modal-content p{
        font-size: 3.2rem;
    }
}
@media only screen and (max-width: 850px) and (min-width: 801px){
    .modal-content h4{
        left: 35%;
        position: fixed;
    }
    .modal-content p{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 800px) and (min-width: 750px){
    .Sobre-img img{
        width: 60vw;
    }
    .modal-content h4{
        left: 34%;
        position: fixed;
    }
    .modal-content p{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 751px) and (min-width: 701px){
    .Sobre-img img{
        width: 60vw;
    }
    .modal-content h4{
        left: 34%;
        position: fixed;
    }
}
@media only screen and (max-width: 700px) and (min-width: 650px){
    .Sobre-img img{
        width: 60vw;
    }
    .modal-content h4{
        left: 32%;
        position: fixed;
    }
}
@media only screen and (max-width: 650px) and (min-width: 601px){
    .Sobre-img img{
        width: 60vw;
    }
    .modal-content h4{
        left: 31%;
        position: fixed;
    }
    .modal-content p{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 601px) and (min-width: 550px){
    .Sobre-img img{
        width: 60vw;
    }
    .portfolio-container .portfolio-box{
        width: 500px;
    }
    .modal-content h4{
        left: 29%;
        position: fixed;
    }
    .modal-content p{
        font-size: 2rem;
    }
    .contato form{
        width: 90%;
    }
}
@media only screen and (max-width: 550px) and (min-width: 500px){
    .Sobre-img img{
        width: 60vw;
    }
    .portfolio-container .portfolio-box{
        width: 500px;
    }
    .modal-content h4{
        left: 26%;
        position: fixed;
    }
    .modal-content p{
        font-size: 2rem;
    }
    .contato form{
        width: 90%;
    }
}
@media only screen and (max-width: 500px) and (min-width: 450px){
    .Sobre-img img{
        width: 60vw;
    }
    .card{
        width: 400px;
    }
    .card-front h3{
        font-size: 3rem;
    }
    .card-back h1{
        font-size: 2.5rem
    }
    .portfolio-container .portfolio-box{
        width: 400px;
        height: 300px;
    }
    .portfolio-layer h4{
        font-size: 3.5rem;
    }
    .portfolio-layer p{
        font-size: 2rem;
    }
    .portfolio-layer a{
        top: 83%;
        width: 2.5rem;
        height: 2.5rem;
    }
    .portfolio-layer a i{
        font-size: 1.8rem;
    }
    .button{
        width: 4.5rem;
        height: 4.5rem;
    }
    .button i{
        font-size: 2.1rem;
    }
    .modal-content h4{
        left: 28%;
        position: fixed;
        font-size: 2.5rem;
    }
    .modal-content p{
        font-size: 2rem;
    }
    .contato form{
        width: 90%;
    }
}
@media only screen and (max-width: 450px) and (min-width: 400px){
    .home-img{
        display: none;
    }
    .Sobre-img img{
        width: 60vw;
    }
    .card{
        width: 360px;
        height: 240px;
    }
    .card-front i {
        font-size: 9rem;
    }
    .card-front h3{
        font-size: 3rem;
    }
    .card-back h1{
        font-size: 2rem;
    }
    .card-back i{
        font-size: 8rem;
    }
    .portfolio-container .portfolio-box{
        width: 360px;
        height: 240px;
    }
    .portfolio-layer h4{
        font-size: 3rem;
    }
    .portfolio-layer p{
        font-size: 1.8rem;
    }
    .portfolio-layer a{
        top: 80%;
        width: 2.5rem;
        height: 2.5rem;
    }
    .portfolio-layer a i{
        font-size: 1.8rem;
    }
    .button{
        width: 4rem;
        height: 4rem;
    }
    .button i{
        font-size: 1.9rem;
    }
    .modal-content h4{
        font-size: 2.5rem;
        left: 26%;
        position: fixed;
    }
    .modal-content p{
        top: 30%;
        font-size: 2rem;
    }
    .contato form{
        width: 90%;
    }
}
@media only screen and (max-width: 400px) and (min-width: 350px){
    html{
        align-items: center;
    }
    .home-img{
        display: none;
    }
    .Sobre-img img{
        width: 60vw;
    }
    .heading{
        font-size: 4rem;
    }
    .card{
        width: 320px;
        height: 210px;
    }
    .card-front i {
        font-size: 9rem;
    }
    .card-front h3{
        font-size: 2.5rem;
    }
    .card-back h1{
        font-size: 1.8rem;
    }
    .card-back i{
        font-size: 8rem;
    }
    .portfolio-container .portfolio-box{
        width: 320px;
        height: 210px;
    }
    .portfolio-layer h4{
        font-size: 2.5rem;
    }
    .portfolio-layer p{
        font-size: 1.4rem;
    }
    .portfolio-layer a{
        top: 80%;
        width: 2rem;
        height: 2rem;
    }
    .portfolio-layer a i{
        font-size: 1.6rem;
    }
    .button{
        width: 3rem;
        height: 3rem;
    }
    .button i{
        font-size: 1.8rem;
    }
    .modal-content h4{
        font-size: 2rem;
        left: 30%;
        position: fixed;
    }
    .modal-content p{
        font-size: 1.6rem;
    }
    .modal-content a{
        left: 47%;
    }
    .contato form{
        width: 90%;
    }
}
@media only screen and (max-width: 350px) and (min-width: 300px){
    html{
        align-items: center;
    }
    .logo{
        font-size: 1.6rem;
    }
    .home-content h1{
        font-size: 3.8rem;
    }
    .home-content h3{
        font-size: 2rem;
    }
    .home-img{
        display: none;
    }
    .Sobre-img img{
        width: 60vw;
    }
    .heading{
        font-size: 3.4rem;
    }
    .card{
        width: 300px;
        height: 200px;
    }
    .card-front i {
        font-size: 9rem;
    }
    .card-front h3{
        font-size: 2.5rem;
    }
    .card-back h1{
        font-size: 1.8rem;
    }
    .card-back i{
        font-size: 8rem;
    }
    .portfolio-container .portfolio-box{
        width: 300px;
        height: 200px;
    }
    .portfolio-layer h4{
        font-size: 2.5rem;
    }
    .portfolio-layer p{
        font-size: 1.4rem;
    }
    .portfolio-layer a{
        top: 80%;
        width: 2rem;
        height: 2rem;
    }
    .portfolio-layer a i{
        font-size: 1.6rem;
    }
    .button{
        width: 3rem;
        height: 3rem;
    }
    .button i{
        font-size: 1.8rem;
    }
    .modal-content h4{
        font-size: 2rem;
        left: 28%;
        position: fixed;
    }
    .modal-content p{
        font-size: 1.9rem;
    }
    .modal-content a{
        left: 47%;
    }
    .contato form{
        width: 90%;
    }
}
@media only screen and (max-width: 300px){
    html{
        align-items: center;
        justify-content: center;
    }
    .logo{
        font-size: 1.6rem;
    }
    .menu-icon{
        right: 90%;
    }
    .home-img{
        display: none;
    }
    .Sobre-img img{
        width: 60vw;
    }
    .heading{
        font-size: 3rem;
    }
    .card{
        width: 250px;
        height: 175px;
    }
    .card-front i {
        font-size: 6rem;
    }
    .card-front h3{
        font-size: 2rem;
    }
    .card-back h1{
        font-size: 1.4rem;
    }
    .card-back i{
        font-size: 6rem;
    }
    .portfolio-container .portfolio-box{
        width: 250px;
        height: 175px;
    }
    .portfolio-layer h4{
        font-size: 1.8rem;
    }
    .portfolio-layer p{
        font-size: 1.4rem;
    }
    .portfolio-layer a{
        top: 78%;
        width: 2rem;
        height: 2rem;
    }
    .portfolio-layer a i{
        font-size: 1.6rem;
    }
    .button{
        width: 3rem;
        height: 3rem;
    }
    .button i{
        font-size: 1.8rem;
    }
    .modal-content h4{
        font-size: 1.8rem;
        left: 28%;
        position: fixed;
    }
    .modal-content p{
        font-size: 1.2rem;
    }
    .modal-content a{
        left: 47%;
        width: 1rem;
        height: 2rem;
    }
    .contato form{
        width: 80%;
    }

}
